/* General Styles */
.featured__wrapper {
  padding: 40px 40px 16px 32px;
}

.featured__title {
  line-height: 1.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.featured__title span {
  background-color: #cfe1fd;
  color: #09326c;
  font-weight: 600;
  padding: 0.25rem 0.375rem;
  border-radius: 50px;
  font-size: 0.625rem;
}

.featured__desc {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.featured__sub-wrapper {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 24px;
}

.featured__card {
  width: 296px;
  padding: 1.25rem;
  background-color: #f8f8f8;
  border-radius: 20px;
  cursor: pointer;
  height: 175px;
  transition: box-shadow 0.25s;
}

.featured__card:hover {
  box-shadow: 0 8px 9pt 0 #091e4226, 0 0 1px 0 #091e424f;
}

.featured__icon-wrapper svg {
  width: 163px;
  height: 40px;
}

.featured__desc-card {
  margin: 0.125rem 0 0.75rem;
  font-size: 0.75rem;
  color: #292a2e;
  line-height: 1.25;
}

.featured__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.featured__card-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.375rem;
}

.featured__card-title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
}

.featured__line-wrapper {
  width: 100%;
  height: 1px;
  background-color: #dddee1;
}

.featured__footer {
  padding-top: 24px;
}

.featured__footer-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.featured__footer-desc {
  margin: 0.375rem 0;
  color: #505258;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.featured__footer-link {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #1868db;
  font-size: 0.875rem;
}

.featured__footer-link svg {
  width: 14px;
  height: 10px;
}
