/* General Styles */
.empower__title {
  text-align: center;
  line-height: 2.375rem;
  font-size: 2rem;
  font-weight: 700;
  color: #101214;
  padding: 30px 32px 0;
}

.empower__list {
  display: flex;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  gap: 12px;
  padding: 0 32px 24px;
  margin-top: 30px;
  scrollbar-width: none;
}

.empower__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 6px 32px;
  gap: 4px;
  border-radius: 40px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.empower__item button {
  cursor: pointer;
}

.active {
  background-color: #e9f2fe;
  border: 2px solid #1868db;
}

/* Card and Container */
.empower__container {
  position: relative;
  width: 100%;
}

.empower__card {
  position: absolute;
  padding: 0 32px;
  opacity: 0;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-13%);
  pointer-events: none;
}

.empower__card-active {
  opacity: 1;
  transform: translateX(0);
}

/* Text and Links */
.empower__sub-wrapper {
  padding-block-end: 1pc;
}

.empower__sub-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.87rem;
  color: #101214;
}

.empower__desc {
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 8px 0 16px;
}

.empower__link {
  color: #1868db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empower__img-wrapper {
  margin-top: 20px;
  overflow: hidden;
}

.empower__link svg {
  width: 15px;
  height: 10px;
  margin-left: 3px;
  margin-top: 3px;
}

/* Media Queries */
@media (min-width: 768px) {
  .empower__card,
  .empower__list {
    padding: 0 60px;
  }
}

@media (min-width: 1024px) {
  .empower__card {
    display: flex;
    gap: 32px;
  }

  .empower__img-wrapper {
    margin: 0;
  }

  .empower__sub-title {
    font-size: 2rem;
    line-height: 2.375rem;
  }

  .empower__desc {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .empower__list {
    justify-content: space-around;
    padding: 40px 70px 37px;
    margin: 0;
  }

  .empower__link {
    margin-top: 24px;
    padding-top: 8px;
    justify-content: left;
  }

  .empower__sub-wrapper {
    padding-bottom: 0;
  }

  .empower__title {
    line-height: 3rem;
    font-size: 2.5rem;
  }
}
