.modal_resources{
    display: none;
}

@media (min-width:1024px) {
    .modal_resources_activ{
        display: flex;
        justify-content: center;
    }
    .resources_active{
        position: absolute;
        z-index: 2;
        background-color: #fff;
        width: 912px;
        top: 70px;
        box-shadow: 0 0 1px 0 #DDDEE1, 0 5px 20px -5px rgba(0, 0, 0, .1);
        border-radius: 15px;
    }
    .resources_list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2rem;
        padding: 40px;
    }
    .resources_footer_list{
        background-color: #f8f8f8;
        padding: 40px;
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
    .resources_footer_block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        margin-top: 20px;
        row-gap: 10px;
    }
    .resources_footer_block li {
        line-height: 1.5rem;
        color: #101214;
        font-size: .875rem;
        cursor: pointer;
    }

    .resources_footer_block li:hover{
        color: #1868DB;
    }
    .resources_item_title{
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .03em;
    }

    .resources_item_title:hover{
        color: #1868DB;
    }
    .resources_item_desc{
        letter-spacing: 0;
        font-size: 11.5px;
        color: #505258;

    }
    .resources_title{
        font-size: .75rem;
        line-height: 1rem;
        text-transform: uppercase;
        font-weight: 700;
    }
}