/* Modal base state (hidden) */
.solution__modal {
  display: none;
}

/* Active modal state for larger screens (1024px and above) */
@media (min-width: 1024px) {
  .solution__modal {
    display: flex;
    justify-content: center;
  }

  .solution__wrapper {
    display: none;
  }

  .solution__active {
    display: flex;
    flex-direction: column;
    position: fixed;
    opacity: 1;
    z-index: 2;
    background-color: #fff;
    width: 912px;
    top: 68px;
    box-shadow: 0 0 1px 0 #dddee1, 0 5px 20px -5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    animation: productAnimate 0.25s linear forwards;
    transition: width 0.2s ease;
  }

  .solution__sub-wrapper {
    padding: 2.5rem;
  }

  .solution__box {
    align-items: center;
    padding-bottom: 0 !important;
  }

  .solution__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Simplified grid layout */
    gap: 1.5rem;
  }

  .solution__footer {
    background-color: #f8f8f8;
    padding: 2.5rem;
  }

  .solution__title {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    color: #101214;
    padding-bottom: 30px;
    font-family: "Charlie Display";
  }

  .solution__item li {
    font-size: 0.875rem;
    height: 40px;
    cursor: pointer;
  }

  /* Keyframe animation for modal appearance */
  @keyframes productAnimate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
