.story{
    margin-top: 60px;
    position: relative;
    padding: 140px 0 60px;
}

.story_img_block{
    position: absolute;
    top: 0;
    left: 75px;
    
}

.story_second_block{
    transform: translateY(-30%);
    margin-left: 70px;
}

.story_block{
    text-align: center;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.story_title{
    line-height: 2.375rem;
    font-size: 2.5rem;
    color: #101214;
}
.story_title strong{
    font-weight: 800;
}

.story_desc{
    line-height: 1.5rem;
    font-size: 1rem;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
}

.story_share_block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_share{
    padding: 10px 24px;
    font-size: 1.25rem;
    border: 2px solid #101214;
    border-radius: 40px;
    font-weight: 500;
}

.story_checked_img_block{
    position: absolute;
    top: 40%;
    right: 40px;
    display: none;
}

.story_img_block {
  opacity: 0;
  /* Animatsiya avtomatik ishlamaydi */
}

/* IntersectionObserver orqali qo'shiladigan class */
.story_img_block.in-view {
  animation: fadeIn 0.7s forwards;
}

/* Elementga qayta kirish animatsiyasi uchun */
.story_img_block.in-view.was-out {
  animation: none; /* Avval animatsiyani o'chiramiz */
}

/* Kichik kechikish bilan animatsiyani qayta ishga tushiramiz */
.story_img_block.in-view:not(.animating) {
  animation: none;
}

.story_img_block.in-view.animating {
  animation: fadeIn 0.7s forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  
  100% {
      opacity: 1;
  }
}
  .story_checked_img_block {
  opacity: 0;
  /* Animatsiya avtomatik ishlamaydi */
}

/* IntersectionObserver orqali qo'shiladigan class */
.story_checked_img_block.in-view {
  animation: checkedIn 1s forwards;
}

/* Elementga qayta kirish animatsiyasi uchun */
.story_checked_img_block.in-view.was-out {
  animation: none; /* Avval animatsiyani o'chiramiz */
}

/* Kichik kechikish bilan animatsiyani qayta ishga tushiramiz */
.story_checked_img_block.in-view:not(.animating) {
  animation: none;
}

.story_checked_img_block.in-view.animating {
  animation: checkedIn 1s forwards;
}

@keyframes checkedIn {
  0% {
      opacity: 0;
  }
  
  100% {
      opacity: 1;
  }
}
@media (min-width:768px) {
  .story_checked_img_block{
    display: block;
  }

}