/* Base styles for the story section */
.story {
  margin-top: 60px;
  position: relative;
  padding: 140px 0 60px;
}

/* Image container for check and other effects */
.story__check-img {
  position: absolute;
  top: 10%;
  right: -70px;
  display: none;
  opacity: 0;
}

/* Image wrapper with animations */
.story__img-wrapper {
  position: absolute;
  top: -50%;
  left: 14%;
  opacity: 0;
}

/* Style for the black image */
.story__black-img {
  transform: translateY(-30%);
  margin-left: 70px;
}

/* Main wrapper for content */
.story__wrapper {
  text-align: center;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 510px;
  margin: 0 auto;
  position: relative;
}

/* Title style */
.story__title {
  line-height: 2.375rem;
  font-size: 2.5rem;
  color: #101214;
}

.story__title strong {
  font-weight: 800;
}

/* Description style */
.story__desc {
  line-height: 1.5rem;
  font-size: 1rem;
  max-width: 460px;
  margin: 0 auto;
}

/* Share button wrapper */
.story__share-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Share button style */
.story__share {
  padding: 10px 24px;
  font-size: 1.25rem;
  border: 2px solid #101214;
  border-radius: 40px;
  font-weight: 500;
}

/* IntersectionObserver class for animations */
.story__img-wrapper.in-view {
  animation: fadeIn 0.7s forwards;
}

.story__img-wrapper.in-view.was-out {
  animation: none;
}

.story__img-wrapper.in-view:not(.animating) {
  animation: none;
}

.story__img-wrapper.in-view.animating {
  animation: fadeIn 0.7s forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Animation for check image */
.story__check-img.in-view {
  animation: checkedIn 2s forwards;
}

.story__check-img.in-view.was-out {
  animation: none;
}

.story__check-img.in-view:not(.animating) {
  animation: none;
}

.story__check-img.in-view.animating {
  animation: checkedIn 2s forwards;
}

/* Check image animation keyframes */
@keyframes checkedIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
  .story__check-img {
    display: block;
  }

  .story__img-wrapper {
    top: -30%;
    left: -100px;
  }

  .story__black-img {
    margin-left: -10px;
    margin-top: 30px;
  }
}
