.rovo {
  color: white;
  text-align: center;
  position: relative;
}
.rovo_sub{
  background-color: black;
    padding: 60px 32px;
    clip-path: polygon(330% 0, 0 0, 0 100%, 0 95%);
}
.rovo_bg{
    background-color: white;
    position: relative;
    padding: 0 32px;
}
.rovo-video{
    transform: translateY(-50px);
}
.rovo_logo_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.rovo_title{
    line-height: 2.375rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

@media (min-width:768px) {
    .rovo_sub{
        padding: 60px 60px ;
    }
    .rovo_bg{
        padding: 0 60px;
    }
}
@media (min-width: 1024px) {
    .rovo{
        margin-top: 100px;
    }
}