.unleash__wrapper {
  background-color: #1868db;
  text-align: center;
  padding: 80px 32px;
  clip-path: polygon(0 0, 100% 4%, 100% 97%, 28% 100%, 28% 87%, 0 87%);
  color: #fff;
}

.unleash__title {
  line-height: 1.875rem;
  font-size: 32px;
}

.unleash__desc {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 16px 0;
}

.unleash__link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unleash__link {
  padding: 10px 24px;
  margin: 0 0 32px;
  border: 2px solid #fff;
  border-radius: 40px;
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.unleash__teamwork {
  position: relative;
  font-weight: 800;
  display: inline-block;
  margin-left: 7px;
}

.unleash__img-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  word-break: break-word;
}

.animateImgUnleash {
  animation: unleashAnimateImg 1.5s ease-in-out 0.5s 1 forwards;
}

.unleash__img-wrapper img {
  width: 100%;
}

.unleash__img-wrapper {
  opacity: 0;
  /* Animatsiya avtomatik ishlamaydi */
}

/* IntersectionObserver orqali qo'shiladigan class */
.unleash__img-wrapper.in-view {
  animation: teamworkAnimation 0.5s forwards;
}

/* Elementga qayta kirish animatsiyasi uchun */
.unleash__img-wrapper.in-view.was-out {
  animation: none; /* Avval animatsiyani o'chiramiz */
}

/* Kichik kechikish bilan animatsiyani qayta ishga tushiramiz */
.unleash__img-wrapper.in-view:not(.animating) {
  animation: none;
}

.unleash__img-wrapper.in-view.animating {
  animation: teamworkAnimation 0.5s forwards;
}

@keyframes teamworkAnimation {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .unleash__wrapper {
    clip-path: polygon(
      1.5% 0,
      70% 3%,
      70% 13%,
      97% 9%,
      97.5% 89%,
      40% 100%,
      39.9% 90%,
      1% 88%
    );
  }
}
