.unleash__wrapper {
  background-color: #1868db;
  color: #fff;
  text-align: center;
  padding: 80px 32px;
  clip-path: polygon(0 0, 100% 4%, 100% 97%, 28% 100%, 28% 87%, 0 87%);
}

.unleash__title {
  font-size: 32px;
  line-height: 1.875rem;
}

.unleash__desc {
  margin: 16px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.unleash__link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unleash__link {
  margin-bottom: 32px;
  padding: 10px 24px;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.unleash__teamwork {
  position: relative;
  display: inline-block;
  margin-left: 7px;
  font-weight: 800;
}

.unleash__img-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  word-break: break-word;
  opacity: 0; /* Default holat */
}

.unleash__img-wrapper img {
  width: 100%;
}

.animateImgUnleash {
  animation: unleashAnimateImg 1.5s ease-in-out 0.5s forwards;
}

/* IntersectionObserver orqali qo‘shiladigan class */
.unleash__img-wrapper.in-view {
  animation: teamworkAnimation 0.5s forwards;
}

/* Qayta kirganda animatsiyani o‘chirish */
.unleash__img-wrapper.in-view.was-out,
.unleash__img-wrapper.in-view:not(.animating) {
  animation: none;
}

/* Animatsiyani qayta ishga tushirish */
.unleash__img-wrapper.in-view.animating {
  animation: teamworkAnimation 0.5s forwards;
}

/* Animatsiya kaliti */
@keyframes teamworkAnimation {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Tablet va undan katta ekranlar uchun */
@media (min-width: 768px) {
  .unleash__wrapper {
    clip-path: polygon(
      1.5% 0,
      70% 3%,
      70% 13%,
      97% 9%,
      97.5% 89%,
      40% 100%,
      39.9% 90%,
      1% 88%
    );
  }
}
