.footer{
    margin: 0 24px;
}
.footer_block{
    padding: 16px 0;
    padding: 1rem;
}

.footer_list{
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px 16px;
    background-color: #f8f8f8;
    max-width: 76pc;
    gap: 2rem;
    border-radius: 0 0 24px 24px;
    margin: 0 auto;
}

.footer_item_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer_item_block p{
    font-size: .875rem;
}
.footer_logo_block{
    display: block;
    margin-bottom: 2rem;
}
.footer_link{
    margin-top: 2rem;
    font-weight: 500;
    font-size: 14px;
}
.footer_title{
    margin-bottom: 2rem;
    font-size: 13px;
    font-weight: 700;
    display: block;
}

.footer_end_block{
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 2rem;
    max-width: 76pc;
    margin: 0 auto;
}
.footer_end_sub{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer_end_text_block{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer_end_title{
    color: #505258;
}

@media (min-width:768px) {
    .footer_list{
        grid-template-columns: 1fr 1fr ;
    }
    .footer_end_text_block{
        flex-direction: row;
    }
    .footer_end_sub{
        flex-direction: row;
    }
}
@media (min-width:1024px) {
    .footer_list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .footer_end_block{
        flex-direction: row;
        justify-content: space-between;
    }
}