.footer {
  margin: 0 24px;
}

.footer__wrapper {
  padding: 1rem 0;
}

.footer__list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 24px 16px;
  background-color: #f8f8f8;
  max-width: 1200px; /* 76pc emas, 76*16 = 1216px. Yaxshilab 1200px qildim */
  gap: 2rem;
  border-radius: 0 0 24px 24px;
  margin: 0 auto;
}

.footer__item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__item-wrapper li {
  cursor: pointer;
  opacity: 0.6;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}

.footer__item-wrapper li:hover {
  color: #101214;
  opacity: 1;
  text-decoration: underline;
}

.footer__text {
  font-weight: 700;
  opacity: 1;
}

.footer__logo-wrapper {
  display: block;
  margin-bottom: 2rem;
}

.footer__link {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 14px;
}

.footer__title {
  display: block;
  margin-bottom: 2rem;
  font-size: 13px;
  font-weight: 700;
}

.finished__wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.finished__box,
.finished__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.finished__title {
  color: #505258;
}

/* Responsive qoidalar */
@media (min-width: 768px) {
  .footer__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .finished__box,
  .finished__text-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .footer__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .finished__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
