.header{
    padding: 8px;
    max-width: 1272px;
    margin: 0 auto;
}
.header_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.menu_sub_block{
    display: none;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.header_list{
    display: none;
}
.menu_sub_block_desctop{
    display: none;
}
.header_list_item_desctop{
    display: none;
}

.header_desctop_list{
    display: none;
}


@media (min-width: 768px) {
    .menu_block{
        display: flex;
        align-items: center;
        gap: 1rem;
        
    }
    .menu_sub_block{
        display: flex;
        gap: 1pc;
    }
    .border_line{
        display: block;
        width: 1px;
        height: auto;
        background: #DDDEE1;
    }
    .signIn_link{
        padding: 0 10px;
        color: #1558BC;
        font-size: 1rem;
        font-weight: 500;
    }
    .menu{
        margin-left: 10px;
    }
}
@media (min-width: 1024px) {
    .desctop_logo_block{
        display: flex;
        align-items: center;
    }
    .header_list{
        display: flex;
        margin-left: 32px;
    }
    .header_bottom_icon{
        display: block;
    }
    .header_item_btn{
        display: flex;
        align-items: center;
        padding-inline-end: 2rem;
        gap: 8px;
    }
    .header{
        padding: 0;
    }
    .header_block{
        height: 68px;
    }
    .menu{
        display: none;
    }
    .border_line{
        display: none;
    }
    .border_center_line{
        width: 1px;
        height: auto;
        background-color: #DDDEE1;
    }
    .header_list_item{
        display: flex;
        align-items: center;
    }
    .header_less_btn{
        color: #7D818A;
    }
    .header_item{
        cursor: pointer;
    }
    .header_item_btn{
        cursor: pointer;
    }
    .search_icon{
        cursor: pointer;
    }
    .logo_block{
        cursor: pointer;
    }
}

@media (min-width: 1240px) {
    .menu_sub_block{
        display: none;
    }
    .menu_sub_block_desctop{
        display: flex;
        gap: 1pc;
    }
    .header_list_iten{
        display: none;
    }
    .header_more_btn{
        display: none;
    }
    .header_list_item_desctop{
        display: flex;
        align-items: center;
    }
    .header_list{
        display: none;
    }
    .header_desctop_list{
        display: flex;
        margin-left: 32px;
    }
    .header_list_item{
        cursor: pointer;
    }
}