.header {
  padding: 8px;
  max-width: 100%;
  position: fixed; /* Fixed position */
  top: 0; /* Yuqorida joylashishi uchun */
  left: 0; /* Chap tomondan boshlash */
  right: 0;
  z-index: 1000; /* Boshqa elementlar ustida joylashishi uchun */
  background-color: #fff; /* Orqa fon */
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  max-width: 1272px; /* Maksimal kenglik */
  margin: 0 auto; /* Markazlashtirish */
}

.menu__sub-wrapper {
  display: none;
}

.header__menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__list {
  display: none;
}

.header__menu-desctop {
  display: none;
}

.header__desctop-list {
  display: none;
}

@media (min-width: 768px) {
  .menu__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .menu__sub-wrapper {
    display: flex;
    gap: 1pc;
  }

  .header__border-line {
    display: block;
    width: 1px;
    height: auto;
    background: #dddee1;
  }

  .header__signin-link {
    padding: 0 10px;
    color: #1558bc;
    font-size: 1rem;
    font-weight: 500;
  }

  .header__menu {
    margin-left: 10px;
  }
}
@media (min-width: 1024px) {
  .header__logo-wrapper {
    display: flex;
    align-items: center;
  }

  .header{
    z-index: 100;
  }

  .header-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 50% shaffof qora rang */
    z-index: 1; /* Header va modallardan pastroq, lekin boshqa kontentdan yuqori */
  }

  .header__list {
    display: flex;
    margin-left: 32px;
  }

  .header__bottom-icon {
    display: block;
  }

  .header__item-button {
    display: flex;
    align-items: center;
    padding-inline-end: 2rem;
    gap: 8px;
  }

  .header {
    padding: 0;
  }

  .header__wrapper {
    height: 68px;
  }

  .header__menu {
    display: none;
  }

  .header__border-line {
    display: none;
  }

  .header__center-line {
    width: 1px;
    height: auto;
    background-color: #dddee1;
  }

  .header__list-item {
    display: flex;
    align-items: center;
  }

  .header__less-button {
    color: #7d818a;
  }

  .header__item {
    cursor: pointer;
  }

  .header__item-button {
    cursor: pointer;
  }

  .search__icon {
    cursor: pointer;
  }

  .header__logo {
    cursor: pointer;
  }
}

@media (min-width: 1240px) {
  .menu__sub-wrapper {
    display: none;
  }

  .header__menu-desctop {
    display: flex;
    gap: 1pc;
  }

  .header__list-item {
    display: none;
  }

  .header__more-button {
    display: none;
  }

  .header__list {
    display: none;
  }

  .header__desctop-list {
    display: flex;
    margin-left: 32px;
  }

  .header__list-item {
    cursor: pointer;
  }
}
