@import "tailwindcss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Charlie Display font oilasi */
  
  @font-face {
    font-family: 'Charlie Display';
    src: url('./assets/fonts/Charlie_Display-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Charlie Display';
    src: url('./assets/fonts/Charlie_Display-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Charlie Display';
    src: url('./assets/fonts/Charlie_Display-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Charlie Display';
    src: url('./assets/fonts/Charlie_Display-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  /* Charlie Text font oilasi */
  @font-face {
    font-family: 'Charlie Text';
    src: url('./assets/fonts/Charlie_Text-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Charlie Text';
    src: url('./assets/fonts/Charlie_Text-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Charlie Text';
    src: url('./assets/fonts/Charlie_Text-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

 h2 , h3 , h4 , h5 , h6 {
    font-family: 'Charlie Display'; 
 }
 p{
    font-family: 'Charlie Text';
 }