/* Base styles for Jira section */
.jira {
  padding: 0 32px;
  margin-bottom: 60px;
  overflow-x: hidden;
}

.jira__title {
  text-align: center;
  line-height: 3.75rem;
  font-size: 3.125rem;
}

.jira__sub-wrapper {
  position: relative;
  font-weight: 800;
  animation: JiraAnimate;
}

.jira__background-animate {
  position: absolute;
  inset-block-end: -24.5%;
  width: 100%;
  left: 0;
  animation: jiraBg 0.7s 0.5s forwards;
  z-index: -1;
  word-break: break-word;
}

.jira__link-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0 40px;
}

.jira__link {
  min-height: 44px;
  padding: 10px 24px;
  line-height: 1.5rem;
  font-size: 1.25rem;
  border-radius: 40px;
  font-weight: 500;
  background-color: #1868db;
  color: #fff;
}

.jira__list {
  display: flex;
  gap: 16px;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}

.jira__card {
  height: 90px;
  width: 173px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.jira__active {
  border: 1px solid #101214;
  font-weight: 700;
  border-radius: 6px;
}

.jira__sub-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Charlie Display";
}

.jira__wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.jira__video-wrapper,
.jira__img {
  border: 3px solid #f0f1f2;
  border-radius: 5px;
  aspect-ratio: 16 / 9;
  margin-block-end: 8%;
}

.jira__bg {
  position: absolute;
  clip-path: polygon(0.5% 0, 50% 0, 50% 10%, 98.5% 0, 100% 85%, 17.75% 100%, 17.25% 85%, 0 85%);
  width: calc(100% + 200px);
  inset-inline-start: -50px;
  inset-block-start: 45%;
  height: 55%;
  z-index: -1;
  background-color: #1868db;
}

/* Background animation */
.jira__background-animate {
  opacity: 0;
}

.jira__background-animate.in-view {
  animation: jiraBg 0.5s forwards;
}

.jira__background-animate.in-view.was-out,
.jira__background-animate.in-view:not(.animating) {
  animation: none;
}

.jira__background-animate.in-view.animating {
  animation: jiraBg 0.5s forwards;
}

/* Keyframe for background animation */
@keyframes jiraBg {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive styles */
@media (min-width: 768px) {
  .jira {
    padding: 0 60px;
  }

  .jira__title {
    font-size: 3.75rem;
    line-height: 4.375rem;
  }
}

@media (min-width: 1024px) {
  .jira__title {
    padding: 19px 0;
  }

  .jira__link-wrapper {
    margin: 30px 0 40px;
  }

  .jira__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
